/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.drawingBody {
  max-width: 100%; /* 이미지가 부모 요소를 벗어나지 않도록 최대 너비 지정 */
  margin: 30px;
  text-align: center;
}

.heroBanner {
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #020321;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 전체 높이를 기준으로 정 가운데에 위치하도록 설정 */
}




.heroBanner img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* IE8 이하 버전 대응 */
  vertical-align: middle; /* 이미지를 수직 가운데 정렬 */
  display: block;
  margin: 0; /* 이미지 주변의 마진 제거 */
  padding: 0; /* 이미지 주변의 패딩 제거 */
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 0;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
